img.user-avatar-mini {
  width: 24px;
  height: 24px;
}

div#top-contributors-ctn {
  margin-top: 18px;

  ul#top-contributors-list {
    list-style-type: decimal;

    a {
      text-decoration: none;
    }
  }
}
